/* general style */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.btn:hover {
  cursor: pointer;
  color: #aee4c0;
}

/* start of nav */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
}

.logo {
  width: 139px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #222;
  font-size: 16px;
  font-weight: 500;
}
.nav-links a:hover {
  cursor: pointer;
}
.nav-btn {
  background-color: #2a7c47;
  color: white;
  padding: 10px 22px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}
/* end of nav */

/*start of banner section*/

.banner {
  height: 600px;
  background-image: url("image/hero-bg.png");
  /* background-size: cover;
  background-position: center; */
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 0 40px;  */
}

.banner-p1 {
  background: white;
  color: #2a7c47;
  padding: 6px 18px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 24px;
  font-weight: 500;
}

.banner-p2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 20px;
}

.banner-p2 span {
  color: #2a7c47;
}

.banner-p3 {
  font-size: 16px;
  max-width: 650px;
  margin-bottom: 32px;
}

.banner-p4 {
  display: flex;
  gap: 16px;
}

.btn1 {
  background: #2a7c47;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

.btn2 {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}
/*end of banner section*/
